PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=studyflow
DB_PASSWORD=studyflow_secret
DB_NAME=studyflow

JWT_SECRET=studyflow_super_secret_key_change_in_production
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173
